# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/Deploy'
    Contents: '?(*.json)'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'CA-Pierrer-Demo-Test'
    subscriptionId: '54a522b6-6cd7-4325-b4e6-566f9d921835'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'LearnTVv2'
    location: 'East US'
    templateLocation: 'Linked artifact'
    csmFile: 'Deploy\azuredeploy-pipeline.json'
    overrideParameters: '-adminUsername $(adminUsername) -adminPassword (ConvertTo-SecureString -String $(vmpassword) -AsPlainText -Force) -envName ($envName)'
    deploymentMode: 'Incremental'





