# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/deploy'
    Contents: '?(*.json)'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'






